<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Reset password email</title>
  </head>

  <body>
    <div style="background-color: #788a9c; width: 500px; padding: 20px 10px">
      <h1
        style="
          font-size: 36px;
          background: linear-gradient(to bottom, yellow 50%, blue 50%);
          background-clip: text;
          color: transparent;
          text-align: center;
        "
        class="main-title"
      >
        Слава Україні, {{name}}!
      </h1>
      <a
        class="link"
        href="{{link}}"
        style="
          display: block;
          text-decoration: none;
          color: white;
          text-align: center;
        "
      >
        Click <button type="button">here</button> to reset your password!</a
      >
    </div>
  </body>
</html>
